<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
</head>
<body>
    <h1>My todo list</h1>

    <ul>
        {% for task in tasks %}

        <li>
             {% if task.completed %}
                <s>{{ task.title }}</s>
                 <a href="{{ url_for('toggle_complete', id=task.id) }}">Mark as Not Done</a>
            {% else %}
                {{ task.title }}
                <a href="{{ url_for('toggle_complete', id=task.id) }}">Mark as Done</a>

            {% endif %}
            <a href="{{url_for('delete_task', id=task.id)}}">Click Delete task</a><br>
            <a href="{{ url_for('edit_task', id=task.id) }}">Edit</a><br>
        </li>
        {% endfor %}
    </ul>

    <a href="{{url_for('add_task')}}">add task here</a>
    
</body>
</html>